rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /demo_requests/{document=**} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}